.slide-image {
  width: 750rpx;
  height: 300rpx;
}
.introduce1{
  margin: 24rpx;
  color:blue;
  width: 100PX;
}
.introduce1-content{
  margin: 24rpx;
  font-size: 30px;
  color:black;
}
.enroll{
  margin: 24rpx;
  color:blue;
  width: 100PX;
}
.enroll-content{
  margin: 24rpx;
  font-size: 30px;
  color:black;
}
.address{
  margin: 24rpx;
  color:blue;
  width: 100PX;
}
.address-content1{
  margin: 24rpx;
  font-size: 30px;
  color:black;
}
.address-content2{
  margin: 24rpx;
  font-size: 30px;
  color:black;
}
.address-content3{
  margin: 24rpx;
  font-size: 30px;
  color:black;
}
